$primary-palette: (
 50: #009ea9,
 100: #009ea9,
 200: #009ea9,
 300: #009ea9,
 400: #009ea9,
 500: #009ea9,
 600: #009ea9,
 700: #009ea9,
 800: #009ea9,
 900: #009ea9,
 contrast: (
   50: rgba(#FFFFFF, 1),
   100: rgba(#FFFFFF, 1),
   200: rgba(#FFFFFF, 1),
   300: rgba(#FFFFFF, 1),
   400: rgba(#FFFFFF, 1),
   500: rgba(#FFFFFF, 1),
   600: rgba(#FFFFFF, 1),
   700: rgba(#FFFFFF, 1),
   800: rgba(#FFFFFF, 1),
   900: rgba(#FFFFFF, 1),
 )
);

$accent-palette: (
  50: #db8104,
  100: #db8104,
  200: #db8104,
  300: #db8104,
  400: #db8104,
  500: #db8104,
  600: #db8104,
  700: #db8104,
  800: #db8104,
  900: #db8104,
  contrast: (
   50: rgba(#FFFFFF, 1),
   100: rgba(#FFFFFF, 1),
   200: rgba(#FFFFFF, 1),
   300: rgba(#FFFFFF, 1),
   400: rgba(#FFFFFF, 1),
   500: rgba(#FFFFFF, 1),
   600: rgba(#FFFFFF, 1),
   700: rgba(#FFFFFF, 1),
   800: rgba(#FFFFFF, 1),
   900: rgba(#FFFFFF, 1),
  )
);

$warn-palette: (
  50: #D6341F,
  100: #D6341F,
  200: #D6341F,
  300: #D6341F,
  400: #D6341F,
  500: #D6341F,
  600: #D6341F,
  700: #D6341F,
  800: #D6341F,
  900: #D6341F,
  contrast: (
   50: rgba(#FFFFFF, 1),
   100: rgba(#FFFFFF, 1),
   200: rgba(#FFFFFF, 1),
   300: rgba(#FFFFFF, 1),
   400: rgba(#FFFFFF, 1),
   500: rgba(#FFFFFF, 1),
   600: rgba(#FFFFFF, 1),
   700: rgba(#FFFFFF, 1),
   800: rgba(#FFFFFF, 1),
   900: rgba(#FFFFFF, 1),
  )
);