/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; color: theme('colors.color-txt'); }
*{
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .inline-fields {
    @apply flex flex-row justify-between gap-x-3;
  }

  .dialog-container{
    @apply flex flex-col flex-1 bg-white px-7 overflow-hidden max-h-[calc(95vh)];
  }
  .dialog-header{
    @apply flex flex-row items-center justify-between px-2 pt-5 pb-3;
  }
  .dialog-content{
    @apply flex flex-1 overflow-y-auto p-2 py-7;
  }
  .dialog-actions{
    @apply flex flex-row justify-between px-2 py-3 border-t;
  }

  mat-dialog-content{
    @apply p-4;
  }
  
  mat-dialog-actions{
    @apply flex justify-between p-4 gap-x-3;
  }
}

/* Style pour le défilement vertical */
::-webkit-scrollbar {
  width: 7px; /* largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 7px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a2a2a2; 
  border-radius: 7px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::selection {
  background-color: theme('colors.primary'); 
  color: #ffffff; 
}
